<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="/static/favicon_io/favicon.ico" rel="icon">
    <title>About Us - ZARAN'T InditexTech</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#usage">USAGE</a></li>
            <li><a href="/category/all">SHOPPING</a></li>
        </ul>
    </nav>

    <header>
        <h4>ZARAN'T</h4>
        <h2>InditexTech</h2>
        <a href="/category/all" class="button1">SHOP</a>
    </header>

    <section id="about">
        <h3>About Us</h3>
        <p>We are a team of student researchers from the <a href="https://www.cvc.uab.es/" target="_blank"><img src="web_app/figs/cvc.jpeg" alt="CVC Logo" style="height: 50px;"></a>, passionately engaged in pushing the boundaries of AI and vision technologies. Meet our team:</p>
        <div class="team-member">
            <h4>Neil De La Fuente</h4>
            <a href="https://github.com/Neilus03" target="_blank"><img src="web_app/figs/github.png" alt="GitHub Logo" style="height: 30px;"></a> |
            <a href="https://www.linkedin.com/in/neil-de-la-fuente/" target="_blank"><img src="web_app/figs/linkedin.png" alt="LinkedIn Logo" style="height: 30px;"></a>
        </div>
        <div class="team-member">
            <h4>Daniel Vidal</h4>
            <a href="https://github.com/Dani13vg" target="_blank"><img src="web_app/figs/github.png" alt="GitHub Logo" style="height: 30px;"></a> |
            <a href="https://www.linkedin.com/in/daniel-alejandro-vidal-guerra-21386b266/" target="_blank"><img src="web_app/figs/linkedin.png" alt="LinkedIn Logo" style="height: 30px;"></a>
        </div>
        <div class="team-member">
            <h4>Maria Pilligua</h4>
            <a href="https://github.com/mpilligua" target="_blank"><img src="web_app/figs/github.png" alt="GitHub Logo" style="height: 30px;"></a> |
            <a href="https://www.linkedin.com/in/mariapilligua/" target="_blank"><img src="web_app/figs/linkedin.png" alt="LinkedIn Logo" style="height: 30px;"></a>
        </div>
        <div class="team-member">
            <h4>Alex Roldan</h4>
            <a href="https://github.com/alrocb" target="_blank"><img src="web_app/figs/github.png" alt="GitHub Logo" style="height: 30px;"></a> |
            <a href="https://www.linkedin.com/in/alex-roldan-55488a215/" target="_blank"><img src="web_app/figs/linkedin.png" alt="LinkedIn Logo" style="height: 30px;"></a>
        </div>
    </section>

    <footer>
        <a href="/contact" class="button">CONTACT US</a>
    </footer>
</body>
</html>
