<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Clothes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="/static/favicon_io/favicon.ico" rel="icon">
</head>
<body>
    <h1>Our Clothing Selection</h1>
    <div class="clothing-container">
        {% for category, image in categories.items() %}
            <div class="category" id="category-{{ category }}">
                <img src="{{ image }}" alt="{{ category }}" class="clothing-image" onclick="expandCategory('{{ category }}')">
                <div class="additional-images" style="display:none;">
                    {% for img in all_images[category] %}
                        <img src="{{ img }}" alt="{{ category }}" class="clothing-image">
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="/" class="button">Back to Home</a>

    <script>
        function expandCategory(category) {
            // Hide all categories
            $('.category').hide();
            // Show the selected category
            $('#category-' + category).show();
            // Display all images within the category
            $('#category-' + category + ' .additional-images').show();
        }
    </script>
</body>
</html>
