<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Retrieved Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="{{ url_for('static', filename='js/actions.js') }}"></script> <!-- Linking JS file -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#usage">USAGE</a></li>
                <li><a href="/category/all">SHOPPING</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Retrieved Images</h1>
        <div class="clothing-container">
            {% for img_url in image_urls %}
                <div class="category">
                    <img src="{{ img_url }}" alt="Retrieved Image" class="clothing-image" onclick="redirectToImageView('{{ img_url }}')">
                </div>
            {% endfor %}
        </div>
    </main>

</body>
</html>
