<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="/static/favicon_io/favicon.ico" rel="icon">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="#about">ABOUT US</a></li>
            <li><a href="#usage">USAGE</a></li>
            <li><a href="/category/all">SHOPPING</a></li>
        </ul>
    </nav>
    
    <h4>ZARAN'T</h4>
    <h2>InditexTech</h2>
    <div class="center-content">
        <div class="floating-dot" style="animation-duration: 44s; animation-delay: -27s;"></div>
        <div class="floating-dot" style="animation-duration: 43s; animation-delay: -32s;"></div>
        <div class="floating-dot" style="animation-duration: 42s; animation-delay: -23s;"></div>
        <div class="floating-dot" style="animation-duration: 41s; animation-delay: -19s;"></div>
    </div>

    <a href="/category/all" class="button1">SHOP</a>

    <footer>
        <a href="/contact" class="button">CONTACT US</a>
    </footer>
</body>
</html>
