html {
    font: 5vmin/1.3 serif;
    overflow: hidden;
    background: rgb(0, 0, 0);
}

body, head {
    display: block;
    font-size: 52px;
    color: transparent;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    font-size: 16px;
}


nav {
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 100;  /* Higher z-index to ensure it's above the floating dots */
    position: relative; /* Position must be set for z-index to take effect */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {

    color: #333; /* Set link text color */
    text-decoration: none; /* Remove default underline */
    font-size: 16px; /* Set link font size */
    margin: 0 10px; /* Add spacing between links */
    transition: color 0.3s ease; /* Add smooth transition for hover effect */
}

nav ul li a:hover {
    color: #a9afb9;
}

h1 {
    
    text-align: center; /* Centers the text horizontally */
    font-size: 25px; /* Adjust font size as needed */
    color: #333; /* Choose a suitable text color */
    text-transform: uppercase; /* Convert text to uppercase for a bold look */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    margin-top: 20px; /* Optional: adds some space at the top */
    margin-bottom: 20px; /* Optional: adds some space at the bottom */
    font-family: 'Arial Black', sans-serif; /* Use a bold font for emphasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    /* Add any additional styling properties to make your header fancy */
}


h4 {
    position: absolute; /* Position the button absolutely within its containing element */
    top: 11%; /* Position the top edge of the button at the vertical center of the viewport */
    left: 51%; /* Position the left edge of the button at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Move the button back by half of its own width and height to center it */
    /*text-align: center; /* Centers the text horizontally */
    font-size: 36px; /* Adjust font size as needed */
    color: #333; /* Choose a suitable text color */
    text-transform: uppercase; /* Convert text to uppercase for a bold look */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
    margin-top: 20px; /* Optional: adds some space at the top */
    margin-bottom: 20px; /* Optional: adds some space at the bottom */
    font-family: 'Arial Black', sans-serif; /* Use a bold font for emphasis */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
    /* Add any additional styling properties to make your header fancy */
}


@media (max-width: 600px) {
    h1 {
        color: #ffffff;
        font-size: 24px; /* Smaller font size for small devices */
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

h2 {
    text-align: center;  /* Centers the text horizontally */
    font-size: 13em;      /* Makes the font size larger than the default */
    color: #d0d0d0;         /* Optional: sets a different color, if needed */
    margin: 20px 0;      /* Adds spacing above and below the text */
}

.center-content, .clothing-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    max-height: 600px;  /* Maximum height of the container */
    overflow-y: auto;  /* Enable vertical scrolling when content exceeds the container height */
    z-index: 100;  /* Higher z-index to ensure it's above the floating dots */
}

@media (max-width: 768px) {
    .clothing-container {
        max-height: 400px;  /* Adjust max-height for smaller devices */
    }
}

.category, .button {
    margin: 10px;
    /*border: 1px solid #000000;*/
    /*border-radius: 8px;*/
    border:none;
    padding: 3px;
    text-align: center;
    cursor: pointer; /* Indicates clickable items */
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    z-index: 100;  /* Higher z-index to ensure it's above the floating dots */
}

.category {
    width: 200px;
}

.button1 {
    z-index: 100;
    position: absolute; /* Position the button absolutely within its containing element */
    top: 25%; /* Position the top edge of the button at the vertical center of the viewport */
    left: 50%; /* Position the left edge of the button at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Move the button back by half of its own width and height to center it */
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;

    font-size: 16px;
    text-align: center;
    transition: color 0.5s ease;
}

.button1:hover {
    color: #a9afb9; /* Change background color on hover */
}



.button {
    z-index: 100;
    position: absolute; /* Position the button absolutely within its containing element */
    top: 45%; /* Position the top edge of the button at the vertical center of the viewport */
    left: 50%; /* Position the left edge of the button at the horizontal center of the viewport */
    transform: translate(-50%, -50%); /* Move the button back by half of its own width and height to center it */
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;

    font-size: 16px;
    text-align: center;
    transition: color 0.5s ease;
}


.button:hover {
    color: #a9afb9; /* Change background color on hover */
}


.button2 {
    z-index: 100;  /* Ensures the button is above other content */
    position: relative; /* Standard positioning */
    display: block; /* Block display but with specific width to avoid full width */
    margin: 20px auto; /* Center the button horizontally */
    text-decoration: none;
    background-color: rgb(0, 0, 0); /* Dark background for the button */
    color: white; /* Text color */
    padding: 10px; /* Smaller padding to reduce overall size */
    width: 50px; /* Specific width for square shape */
    height: 50px; /* Specific height for square shape */
    border-radius: 0%; /* Optional: Makes the button circular */
    font-size: 16px; /* Smaller font size for the text inside the button */
    line-height: 30px; /* Aligns text vertically */
    text-align: center; /* Aligns text horizontally */
    transition: color 0.5s ease;
}

.button2:hover, .category:hover {
    color: #000000;
}

.clothing-image {
    width: 100%;
    max-width: 200px; /* Adjust as needed */
    height: auto;
    border-radius: 0px;
    margin-bottom: 0px;
}

@keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
}

/* Mic button styling */
.mic-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text/icon */
    border: none; /* No borders */
    padding: 15px 32px; /* Padding around the text */
    text-align: center; /* Center the icon/text */
    text-decoration: none; /* No underline */
    display: inline-block; /* Necessary for centering */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin around the button */
    cursor: pointer; /* Cursor as pointer */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Simple shadow for depth */
    transition: 0.3s; /* Smooth transition for hover effects */
}

/* Footer styling to center content */
footer {
    text-align: center; /* Centers the button in the footer */
    padding: 20px; /* Padding for spacing */
}

.mic-button:hover {
    background-color: #f70303; /* Slightly darker green on hover */
}

.floating-dot {
    position: fixed;
    top: 50%;

    left: 50%;
    width: 3em;
    height: 3em;
    mix-blend-mode: screen;
    animation: move infinite ease-in-out alternate;
    z-index: 10;  /* Lower than nav and button */
}

.floating-dot::before {
    content: '.';
    text-shadow: 
      -1.5em -1.5em 10px hsla(0, 100%, 50%, 0.3),   /* Changed from 50% lightness to 70% for a lighter red */
      1.5em -1.5em 10px hsla(223, 100%, 52%, 0.9),   /* Lighter yellow */
      -1.5em 1.5em 10px hsla(292, 100%, 51%, 0.1),  /* Lighter green */
      1.5em 1.5em 10px hsla(69, 100%, 50%, 0.9);   /* Lighter blue instead of dark blue */
}

